.blockItem {
    .number-holder {
        .number {
            border: 3px solid #48C3D4;
            border-radius: 50%;
            display: inline-block;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
        }
    }
    
    .block-header {
        font-weight: bold;
    }

    .block-text {
        line-height: 26px;
    }
}
