

.inputField {
    outline-style: none;
    background-color: #F2EAE1;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #5C6B74;
    color: #A5988A;
    width: 100%;
    box-sizing:border-box;
}
