@import "./../../share.scss";

.banner {
    background: {
        image: url("./images/back.jpg");
        repeat: no-repeat;
        size: cover;
    }
    height: 100vh;
    position: relative;

    .shading {
        position: absolute;
        top:0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.3);
        z-index: 1;
    }

    div {
        z-index: 10;
        position: relative;
    } 

    .banner-center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .banner-content{
            top: -20px;
            color: white;
            margin: 10px auto;
            max-width: 600px;
            font-family: 'open-sans'; 

            @media (min-width: $screen1920) {
                max-width: 1600px;
            }

            @media (max-width: $screen1920) {
                max-width: 1400px;
            }

            @media (max-width: $screen1440) {
                max-width: 1200px;
            }

            @media (max-width: $screen1366) {                        
                max-width: 1000px;
            }

            @media (max-width: $screen1024) {                        
                max-width: 700px;
            }

            // @media (max-width: $screen768) {                        
            //     font-size: 30px;
            //     line-height: 30px;
            // }

            // @media (max-width: $screen500) {                        
            //     font-size: 20px;
            //     line-height: 24px;
            // }

            // @media (max-width: $screen500) {                        
            //     top: 0px;
            // }
    
            .banner-text {
                width: 100%;
                text-align: center;
                font-size: 40px;
                line-height: 50px;

                @media (min-width: $screen1920) {
                    font-size: 70px;
                    line-height: 100px;
                }

                @media (min-width: $screen1440) {
                    font-size: 60px;
                    line-height: 70px;
                }

                @media (max-width: $screen1366) {                        
                    font-size: 50px;
                    line-height: 80px;
                }

                @media (max-width: $screen1024) {                        
                    font-size: 40px;
                    line-height: 70px;
                }

                @media (max-width: $screen768) {                        
                    font-size: 30px;
                    line-height: 40px;
                }

                @media (max-width: $screen500) {                        
                    font-size: 20px;
                    line-height: 30px;
                }
            }
    
            .timer-content {
                margin-top: 70px;
                text-align: center;
                .timer-text {
                    font-size: 27px;
                    @media (max-width: $screen1920) {
                        font-size: 27px;
                    }
    
                    @media (max-width: $screen1440) {
                        font-size: 24px;
                    }
    
                    @media (max-width: $screen1366) {                        
                        font-size: 22px;
                    }
    
                    @media (max-width: $screen1024) {                        
                        font-size: 20px;
                    }
    
                    @media (max-width: $screen768) {                        
                        font-size: 18px;
                    }
    
                    @media (max-width: $screen500) {                        
                        font-size: 16px;
                    }
                    @media (max-width: $screen320) {                        
                        font-size: 12px;
                    }

                    margin: 0;
                    font-size: 12px;
                }
    
                .timer-item{
                    @media (max-width: $screen1920) {
                        font-size: 72px;
                    }
    
                    @media (max-width: $screen1440) {
                        font-size: 62px;
                    }
    
                    @media (max-width: $screen1366) {                        
                        font-size: 52px;
                    }
    
                    @media (max-width: $screen1024) {                        
                        font-size: 42px;
                    }
    
                    @media (max-width: $screen768) {                        
                        font-size: 32px;
                    }
    
                    @media (max-width: $screen500) {                        
                        font-size: 26px;
                    }
                    // @media (max-width: $screen320) {                        
                    //     font-size: 12px;
                    // }
                    font-size: 72px;
                }
            }
    
            .subscribe-content {
                width: 50%;
                position: relative;
                margin: 20px auto;

                @media (min-width: $screen1920) {
                    width: 25%;
                }
    
                .input-item {
                    width: 100%;
                    margin-bottom: 20px;

                    @media (max-width: $screen500) {  
                        margin-bottom: 7px;
                    }

                    .inputField {
                        height: 50px;
                        border-radius: 40px;
                        text-align: center;
                        font-size: 18px;

                        @media (max-width: $screen768) { 
                            height: 40px;
                            font-size: 16px;
                        }
        
                        @media (max-width: $screen500) {  
                            height: 30px;
                            font-size: 14px;
                        }

                        @media (max-width: $screen320) {
                            height: 20px;
                            font-size: 12px;
                        }
                    }
                }

                .button-item {
                    text-align: center;
                    margin-top: 50px;
                    .button {
                        font-size: 18px;
                        text-align: center;
                        @media (max-width: $screen768) { 
                            height: 40px;
                            font-size: 16px;
                        }
        
                        @media (max-width: $screen500) {  
                            height: 30px;
                            font-size: 14px;
                            line-height: 0;
                        }

                        @media (max-width: $screen320) {
                            height: 20px;
                            font-size: 12px;
                        }

                        @media (min-width: $screen1920) {
                            max-width: 400px;
                        }
            
                        @media (max-width: $screen1920) {
                            max-width: 400px;
                        }
            
                        @media (max-width: $screen1440) {
                            max-width: 300px;
                        }
                        
                        @media (max-width: $screen768) {                        
                            width: 100%;
                        }
                    }
                    span {
                        font-size: 24px;
                    }
                }
            }
        }
    }

    
}