@import "./../../../share.scss";

.tariffItem {
    text-align: center;

    .block-header {
        font-weight: bold;
    }

    .block-text {
        line-height: 26px;
    }

    .img-holder {
        img {
            width: 150px;
            height: 150px;
            margin: 0 auto;

            @media (max-width: $screen768) {
                width: 100px;
                height: 100px;
            }
        }
    }
}